<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="/../general.html :: head"></head>

<body id="page-top">

	<script>
		function toggle(categoryOption) {
		
			let subCategoryOptions = document.getElementById("subCategory")
			
			for(i = 1; i < subCategoryOptions.length; i++) {
		       	subCategoryOption = subCategoryOptions[i];
		       	subCategoryOption.selected = false
				let hidden = subCategoryOption.getAttribute('hidden') !== null
				let parentCategory = subCategoryOption.getAttribute("parent-category")
				
				if (categoryOption.value == parentCategory) {
					if (hidden) {
						subCategoryOption.removeAttribute("hidden");
					}
				} else {
					if (!hidden) {
						subCategoryOption.setAttribute("hidden", "hidden");
					}
				}
			}
		}
	</script>

	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:insert="/../general.html :: sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:insert="/../general.html :: topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Edytuj</h1>
					</div>

					<div class="container">

						<form role="form" th:action="@{/bill/modify}" th:method="post" th:object="${billsOfMonth}">
							
							<div class="input-group">
								<input type="text" id="name" name="name" th:field="*{name}" placeholder="Nazwa" class="form-control">
								<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
							</div>
							
							<BR>

							<div class="input-group">
								<input type="text" id="description" name="description" th:field="*{description}" placeholder="Opis" class="form-control">
								<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
							</div>	
												
							<BR>
							
							<div class="input-group">
								<input type="number" id="amount" name="amount" th:field="*{amount}" step="0.01" placeholder="Wartość" class="form-control">
								<p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Default Amount Error</p> 
							</div>
							
							<BR>
							
							<div class="input-group">
								<input type="number" id="dueDay" name="dueDay" th:field="*{dueDay}" step="1" min="1" max="31" placeholder="Płatne do dnia" class="form-control"> 
							</div>
							
							<BR>
							
							<div class="input-group">
								<select id="month" name="month" class="form-control" readonly>
									<option value="">Miesiąc</option>
									<option 
										th:each="month : ${T(java.time.Month).values()}" 
										th:value="${month}"
										th:text="${month}"
										th:selected="(${monthSelected} == ${month})"></option>
								</select>
								<p th:if="${#fields.hasErrors('month')}" th:errors="*{month}">Month Error</p>
							</div>
							
							<BR>
							
							<div class="input-group">
								<input type="number" id="year" name="year" th:field="*{year}" step="1" placeholder="Rok" class="form-control" readonly>
								<p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</p>
							</div>
							
							Automatyczna spłata
							<div class="input-group">
								<input type="checkbox" id="automaticRepayment" name="automaticRepayment" th:field="*{automaticRepayment}" class="form-control"> 
							</div>
							
							
							<BR>

							<div class="input-group">
								<select id="category" name="category" class="form-control" onchange="toggle(this)">
									<option value="">Select Category</option>
									<option th:each="category : ${categories}"
										th:value="${category.id}"
										th:text="${category.name}"
										th:selected="(${categoryID} == ${category.id})"
										></option>
								</select>
								<p th:if="${#fields.hasErrors('category')}"
									th:errors="*{category}">Category Error</p>
							</div>

							<BR>

							<div class="input-group">
								<select id="subCategory" name="subCategory" class="form-control">
									<option value="">Select SubCategory</option>
									<option th:each="subCategory : ${subCategories}"
										th:value="${subCategory.id}"
										th:text="${subCategory.name}"
										th:attr="parent-category=${subCategory.category.id}"
										th:selected="(${subCategoryID} == ${subCategory.id})" 
										hidden="hidden"></option>
								</select>
								<p th:if="${#fields.hasErrors('subCategory')}"
									th:errors="*{subCategory}">SubCategory Error</p>
							</div>
							
							<input type="hidden" id="paid" name="paid" th:field="*{paid}" class="form-control" onclick='return false;'/> 
							<input type="hidden" name="id" th:value="${billsOfMonth.id}" />

							<BR> <input type="submit" class="btn btn-primary"> <BR>
							<BR>
						</form>
						
					</div>

					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer th:insert="/../general.html :: footer"> </footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

	</div>

	<!-- Logout Modal-->
	<div th:insert="/../general.html :: end-of-body"></div>
</body>

</html>
