<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="/../general.html :: head"></head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <div th:insert="/../general.html :: sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <div th:insert="/../general.html :: topbar"></div>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Rachunki</h6>
            </div>
            <div class="card-body">
              <a th:href="@{/bill/show_by_month{previousMonthLink}/(previousMonthLink=${previousMonth})}">Poprzedni miesiąc</a>
              -
              <a th:href="@{/bill/show_by_month{nextMonthLink}/(nextMonthLink=${nextMonth})}">Następny miesiąc</a>
              <BR><BR>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                 	  <th>Nazwa</th>
                      <th>Opis</th>
                      <th>Miesiąc</th>
                      <th>Rok</th>
                      <th>Do zapłaty</th>
                      <th>Kwota zapłacone</th>
                      <th>Płatne do</th>
                      <th>Zapłacone</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
					<th:block th:each="billsOfMonth : ${billsOfMonths}">
						<tr>
							<td><p th:text="${billsOfMonth.name}"></p></td>
							<td><p th:text="${billsOfMonth.description}"></p></td>
							<td><p th:text="${billsOfMonth.month}"></p></td>
							<td><p th:text="${billsOfMonth.year}"></p></td>
							<td><p th:text="${billsOfMonth.amount}"></p></td>
							<td><p th:text="${billsOfMonth.amountPaid}"></p></td>
							<td><p th:text="${billsOfMonth.dueDay}"></p></td>
							<td><input type="checkbox" th:checked="${billsOfMonth.paid}" disabled></input></td>
							<td th:if="${billsOfMonth.paid == false}" >
							<a th:href="@{/bill/pay/{id}/(id=${billsOfMonth.id})}">Zapłać</a><br>
							<a th:href="@{/bill/edit_and_pay/{id}/(id=${billsOfMonth.id})}">Edytuj i zapłać</a></td>
							<td th:if="${billsOfMonth.paid == true}" >Zapłacone</td>
						</tr>
					</th:block>
					<tr>
                 	  <th></th>
                      <th></th>
                      <th></th>
                      <th><B>SUMA</B></th>
                      <th><p th:text="${sumOfMonth}"></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
					<tr>
                 	  <th></th>
                      <th></th>
                      <th></th>
                      <th><B>DO ZAPŁACENIA</B></th>
                      <th><p th:text="${sumOfMonthToPay}"></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
					<tr>
                 	  <th></th>
                      <th></th>
                      <th></th>
                      <th><B>ZAPŁACONE</B></th> 
                      <th><p th:text="${sumOfMonthPaid}"></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a th:href="@{/bill/show_by_month{previousMonthLink}/(previousMonthLink=${previousMonth})}">Poprzedni miesiąc</a>
              -
              <a th:href="@{/bill/show_by_month{nextMonthLink}/(nextMonthLink=${nextMonth})}">Następny miesiąc</a>
             
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer th:insert="/../general.html :: footer"> </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


  <!-- Logout Modal-->
  <div th:insert="/../general.html :: end-of-body"></div>

</body>

</html>
