<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Boot User Authentication</title>
</head>
<body>
	<h1>Show All Accounts</h1>
	
	<table border=1>
		<th:block th:each="account : ${accounts}">
			<tr>
				<td><p th:text="${account.id}"></p></td>
				<td><p th:text="${account.owner.id}"></p></td>
				<td><p th:text="${account.name}"></p></td>
				<td><p th:text="${account.description}"></p></td>
				<td><p th:text="${account.balance}"></p></td>
				<td><p th:text="${account.active}"></p></td>
				<td><a th:href="@{${account.id}}">Details</a></td>
				<td><a th:href="'modify/' + @{${account.id}}">Modify</a></td>
			</tr>
		</th:block>
	</table>
	
</body>
</html>