<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Boot User Authentication</title>
</head>
<body>
	<h1>Delete Account</h1>

	<table>
		<tr th:each="account : ${accounts}">
			<td><p th:text="${account.id}"></p></td>
			<td><p th:text="${account.owner.id}"></p></td>
			<td><p th:text="${account.name}"></p></td>
			<td><p th:text="${account.description}"></p></td>
			<td><p th:text="${account.balance}"></p></td>
			<td><p th:text="${account.active}"></p></td>
			<td><a th:href="@{${account.id}}">Details</a></td>
			<td>
				<form th:action="@{delete}" method="post">
					<input type="hidden" name="id" th:value="${account.id}" /> <input
						type="submit" value="Delete" />
				</form>
			</td>
		</tr>
	</table>

</body>
</html>