<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Boot User Authentication</title>
</head>
<body>
<form role="form" th:action="@{/account/modify}" th:method="post" th:object="${account}">
    <lable>Name</lable>
    <input type="text" id="name" name="name" th:field="*{name}">

    <lable>Description</lable>
    <input type="text" id="description" name="description" th:field="*{description}">

    <lable>Active</lable>
    <input type="checkbox" id="active" name="active" th:field="*{active}">
    
	<select class="form-control" id="user" name="user">
		<option value="">Select User</option>
		<option th:each="user : ${users}"
				th:value="${user.id}"
				th:text="${user.fisrtName}+' '+${user.lastName}"></option>
    </select>

	<input type="hidden" name="id" th:value="${account.id}" />
	<input type="hidden" name="balance" th:value="${account.balance}" />
	
	
    <input type="submit">
</form>	
</body>
</html>