<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Boot User Authentication</title>
</head>
<body>
<form role="form" th:action="@{/account/new}" th:method="post" th:object="${account}">
    <lable>Name</lable>
    <input type="text" id="name" name="name" th:field="*{name}">

    <lable>Description</lable>
    <input type="text" id="description" name="description" th:field="*{description}">

    <lable>Balance</lable>
    <input type="number" id="balance" name="balance" th:field="*{balance}" step="0.01">

    <input type="submit">
</form>	
</body>
</html>