<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Boot User Authentication</title>
</head>
<body>
<form role="form" th:action="@{/journal/new}" th:method="post" th:object="${journal}">
    <lable>Description</lable>
    <input type="text" id="description" name="description" th:field="*{description}">
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>

    <lable>Value</lable>
    <input type="number" id="value" name="value" th:field="*{value}" step="0.01">
    <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Value Error</p>
    
	<select  id="user" name="user">
		<option value="">Select User</option>
		<option th:each="user : ${users}"
				th:value="${user.id}"
				th:text="${user.firstName}+' '+${user.lastName}"
				th:selected="(${userID} == ${user.id})"></option>
    </select>
    <p th:if="${#fields.hasErrors('user')}" th:errors="*{user}">User Error</p>
    
	<select cid="account" name="account">
		<option value="">Select Account</option>
		<option th:each="account : ${accounts}"
				th:value="${account.id}"
				th:text="${account.name}+' ('+${account.balance}+')'"
				th:selected="(${accountID} == ${account.id})"></option>
    </select>
    <p th:if="${#fields.hasErrors('account')}" th:errors="*{account}">Account Error</p>

    <input type="submit">
</form>	
</body>
</html>