<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="general.html :: head"></head>

<body id="page-top">

  <div id="wrapper">

    <div th:insert="general.html :: sidebar"></div>

	<div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <div th:insert="general.html :: topbar"></div>

        <div class="container-fluid">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Strona główna</h1>
          </div>

          <div class="row" th:if="${sumOfAllAccounts != null}">

            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Suma ze wszystkich kont:</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="sumOfAllAccounts" th:text="${sumOfAllAccounts}"></span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        
      	<div class="row">

            <div class="col-xl-4 col-md-4 mb-4" th:each="account : ${accounts}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a th:href="@{account/{id}/(id=${account.id})}"><span th:text="${account.name}">s</span></a></div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><span th:text="${account.balance}"></span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">STAN KONTA BANKOWEGO</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" oninput="calculate()"><input type="number" step=0.01 class="form-control form-control-user" id="bankAccount" name="bankAccount"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a id="linkToCreateDifference" href="journal/new/">Różnica</a></div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="diff">0</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>

      <!-- Footer -->
      <footer th:insert="general.html :: footer"> </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


  <!-- Logout Modal-->
  <div th:insert="general.html :: end-of-body"></div>
  
  <script>
	  function calculate() {
			var result = document.getElementById('diff');
			var linkToCreateDifference = document.getElementById('linkToCreateDifference');
			var bankAccount = document.getElementById('bankAccount').value;	
		    var sumOfAllAccounts = document.getElementById('sumOfAllAccounts').innerText;
			var myResult = bankAccount - sumOfAllAccounts;
			result.innerText = myResult;
			linkToCreateDifference.href = "journal/new/?difference=" + myResult;
	}
  </script>

</body>

</html>
