<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Boot User Authentication</title>
</head>
<body>
	<h1>Show All Users</h1>
	<!--  <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3> -->
	
	<table border=1>
		<th:block th:each="user : ${users}">
			<tr>
				<td><p th:text="${user.id}"></p></td>
				<td><p th:text="${user.owner.id}"></p></td>
				<td><p th:text="${user.fisrtName}"></p></td>
				<td><p th:text="${user.email}"></p></td>
				<td><a th:href="@{${user.id}}">Details</a></td>
			</tr>
		</th:block>
	</table>
	
</body>
</html>