<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Boot User Authentication</title>
</head>
<body>
<form role="form" th:action="@{/user/new}" th:method="post" th:object="${user}">
    <lable>First Name</lable>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}">

    <lable>Last Name</lable>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}">

    <lable>Email</lable>
    <input type="text" id="email" name="email" th:field="*{email}">

    <input type="submit">
</form>	
</body>
</html>