<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Boot User Authentication</title>
</head>
<body>
	<h1>Show One User</h1>
	
	<table border=1 th:if="${user != null}">
		<th:block>
			<tr>
				<td><p th:text="${user.id}"></p></td>
				<td><p th:text="${user.owner.id}"></p></td>
				<td><p th:text="${user.firstName}"></p></td>
				<td><p th:text="${user.email}"></p></td>
			</tr>
		</th:block>
	</table>
	
</body>
</html>